.searchBarWrapper
    position: relative
    width: 550px
    margin: 140px auto 30px auto
    @media screen and ( max-width: 725px )
        margin: 19.310vw auto 4.138vw auto
    @media screen and ( max-width: 700px )
        max-width: 550px
        margin-left: 20px
        margin-right: 20px
        width: unset
    *
        font-family: 'Catamaran', sans-serif
    p
        text-align: center
        color: #f1b722
        margin-bottom: 20px
        font-size: 19px
        line-height: 28px
        font-weight: 400
    input
        width: 100%
        padding: 15px 165px
        font-size: 18px
        line-height: 28px
        border-radius: 40px
        outline: unset
        border: unset
        @media screen and ( max-width: 425px )
            padding: 15px 30px
    svg
        cursor: pointer
        position: absolute
        top: 60%
        right: 9.3%
        @media screen and ( max-width: 425px )
            display: none
    .searching
        animation: heart 1s infinite ease-in-out
    ::placeholder
        color: #898989

@keyframes heart
    0%
        transform: scale(1)
    50%
        transform: scale(1.1)
    100%
        transform: scale(1)
