.latestGrid {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr 1fr;
  max-height: 655px;
  grid-gap: 2px;
  justify-content: center;
  background-color: #000;
}
@media screen and (max-width: 870px) {
  .latestGrid {
    display: flex;
    flex-direction: column;
  }
}
.latestGrid .tabletLogoHeader {
  display: none;
  padding: 25px 0;
  justify-content: center;
}
@media screen and (max-width: 870px) {
  .latestGrid .tabletLogoHeader {
    display: flex;
  }
}
.latestGrid .tabletLogoHeader svg {
  height: 20px;
  width: 190px;
}
.latestGrid .latestGridChild {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.latestGrid .latestGridChild .gridChildBackground {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
}
.latestGrid .latestGridChild .gridChildBackground .imgCover {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease-in-out;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 10;
}
.latestGrid .latestGridChild .gridChildBackground img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.latestGrid .latestGridChild .gridChildBackground img:hover {
  transform: scale(1.1);
}
.latestGrid #grid0Child {
  grid-row: 1/3;
  grid-column: 1/3;
}
.latestGrid #grid0Child h1 {
  font-size: 70px;
  line-height: 65px;
}
@media screen and (max-width: 870px) {
  .latestGrid #grid0Child h1 {
    font-size: 6.897vw;
    line-height: 7.471vw;
  }
}
.latestGrid #grid0Child p {
  display: block !important;
}
@media screen and (max-width: 870px) {
  .latestGrid #grid0Child p {
    display: none !important;
  }
}
.latestGrid #grid1Child {
  grid-row: 1/2;
  grid-column: 3/5;
}
.latestGrid #grid2Child {
  grid-row: 2/3;
  grid-column: 3/4;
}
@media screen and (max-width: 870px) {
  .latestGrid #grid2Child {
    display: none;
  }
}
.latestGrid #grid3Child {
  grid-row: 2/3;
  grid-column: 4/5;
}
@media screen and (max-width: 870px) {
  .latestGrid #grid3Child {
    display: none;
  }
}
.latestGrid .latestGridChild:hover .imgCover {
  -webkit-animation: shadow 0.2s forwards ease-in-out;
          animation: shadow 0.2s forwards ease-in-out;
}
.latestGrid .latestGridChild:hover img {
  transform: scale(1.1);
}
.latestGrid .gridChildForeground {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  color: #f5f5f5;
  z-index: 20;
  font-family: "Catamaran", sans-serif;
  padding: 0 20px;
}
@media screen and (max-width: 870px) {
  .latestGrid .gridChildForeground {
    top: 65%;
  }
}
.latestGrid .gridChildForeground span {
  background-color: #F1B722;
  width: 45px;
  height: 32.5px;
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1145px) {
  .latestGrid .gridChildForeground span {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 870px) {
  .latestGrid .gridChildForeground span {
    margin-bottom: 3.448vw;
  }
}
@media screen and (max-width: 550px) {
  .latestGrid .gridChildForeground span {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 420px) {
  .latestGrid .gridChildForeground span {
    display: none;
  }
}
.latestGrid .gridChildForeground h1 {
  font-size: 35px;
  white-space: break-spaces;
  line-height: 35px;
}
@media screen and (max-width: 1145px) {
  .latestGrid .gridChildForeground h1 {
    font-size: 3.057vw;
  }
}
@media screen and (max-width: 870px) {
  .latestGrid .gridChildForeground h1 {
    font-size: 6.897vw;
    line-height: 7.471vw;
  }
}
.latestGrid .gridChildForeground p {
  display: none;
  max-width: 510px;
  font-size: 16px;
  line-height: 32px;
}
.latestGrid .gridChildForeground button {
  margin-top: 10px;
  padding: 14px 25px 11px 25px;
  background-color: transparent;
  border-radius: 4px;
  width: 135px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 13px;
  line-height: 20px;
  outline: unset;
  border: 2px solid rgba(245, 245, 245, 0.2196078431);
  color: #f5f5f5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1145px) {
  .latestGrid .gridChildForeground button {
    display: none;
  }
}
.latestGrid .gridChildForeground button:hover {
  background-color: #fff;
  color: #000000;
}
.latestGrid .gridChildForeground #btn0 {
  display: block !important;
}
@media screen and (max-width: 870px) {
  .latestGrid .gridChildForeground #btn0 {
    display: none !important;
  }
}
.latestGrid .movieInfoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}
@media screen and (max-width: 1145px) {
  .latestGrid .movieInfoWrapper {
    gap: 0;
    margin: 0;
  }
}
@media screen and (max-width: 870px) {
  .latestGrid .movieInfoWrapper {
    gap: 10px;
    margin-top: 2.299vw;
  }
}
@media screen and (max-width: 550px) {
  .latestGrid .movieInfoWrapper {
    margin-top: 0;
  }
}
@media screen and (max-width: 420px) {
  .latestGrid .movieInfoWrapper {
    justify-content: flex-start;
    gap: 0;
  }
}
.latestGrid .movieInfoWrapper #ratingStars p {
  display: inline-block !important;
}
.latestGrid .movieInfoWrapper .genreWrapper, .latestGrid .movieInfoWrapper .dateWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.latestGrid .movieInfoWrapper .genreWrapper .genreTag, .latestGrid .movieInfoWrapper .dateWrapper .genreTag {
  width: 20px;
  height: 17px;
}
.latestGrid .movieInfoWrapper .genreWrapper {
  color: #cad3da;
  text-decoration: underline;
}
.latestGrid .movieInfoWrapper .dateWrapper .dateTag {
  width: 17px;
  height: 17px;
}

@-webkit-keyframes shadow {
  0% {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
  30% {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  }
  50% {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  }
  70% {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  }
  90% {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  }
  100% {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  }
}

@keyframes shadow {
  0% {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
  30% {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  }
  50% {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  }
  70% {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  }
  90% {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  }
  100% {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  }
}/*# sourceMappingURL=MovieLatest.css.map */