.newestRelWrapper {
  width: 1080px;
  margin: 0 auto;
  font-family: 'Catamaran', sans-serif;
}

.newestRelWrapper h1 {
  color: #f5f5f5;
  line-height: 100px;
  font-weight: 900;
  font-size: 100px;
  text-align: center;
}

.newestRelWrapper p {
  margin-top: 15px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #8ea9bd;
  text-align: center;
}

.newestRelWrapper .newestRelGrid {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1125px) {
  .newestRelGrid {
    grid-template-columns: auto auto !important;
    justify-content: center;
  }
}

@media screen and (max-width: 1120px) {
  .newestRelWrapper {
    width: unset;
    max-width: 1080px;
  }
}

@media screen and (max-width: 700px) {
  .newestRelGrid {
    grid-template-columns: auto !important;
  }
}


@media screen and (max-width: 445px) {
  .newestRelWrapper {
    margin-top: 50px;
  }
  .newestRelWrapper h1 {
    font-size: 22.472vw;
    line-height: 22.472vw;
  }
}