.featuredHeroWrapper {
  position: relative;
  max-height: 900px;
  overflow: hidden;
  font-family: "Catamaran", sans-serif;
}
.featuredHeroWrapper .featuredHeroIMGCover {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(8, 27, 39, 0) 14%, rgb(8, 27, 39) 100%);
  width: 100%;
  height: 100%;
}
.featuredHeroWrapper .featuredHeroIMG {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.featuredHeroWrapper .featuredHeroInfo {
  position: absolute;
  top: 50%;
  left: 25.5%;
  transform: translate(-74.5%, -50%);
}
@media screen and (max-width: 1395px) {
  .featuredHeroWrapper .featuredHeroInfo {
    top: 28.029vw;
    left: 25.115vw;
  }
}
@media screen and (max-width: 955px) {
  .featuredHeroWrapper .featuredHeroInfo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.featuredHeroWrapper .featuredHeroInfo span {
  background-color: #F1B722;
  padding: 0px 12px;
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  border-radius: 25px;
  color: #f5f5f5;
}
@media screen and (max-width: 650px) {
  .featuredHeroWrapper .featuredHeroInfo span {
    font-size: 3.385vw;
    line-height: 4.923vw;
    padding: 0 1.846vw;
  }
}
.featuredHeroWrapper .featuredHeroInfo h1 {
  margin-top: 20px;
  color: #f5f5f5;
  font-size: 75px;
  line-height: 65px;
  font-weight: 800;
  max-width: 450px;
}
@media screen and (max-width: 650px) {
  .featuredHeroWrapper .featuredHeroInfo h1 {
    font-size: 5.538vw;
    line-height: 6vw;
    margin-top: 3.077vw;
  }
}
@media screen and (max-width: 430px) {
  .featuredHeroWrapper .featuredHeroInfo h1 {
    margin: 0;
  }
}
.featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}
@media screen and (max-width: 650px) {
  .featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper {
    margin: 3.077vw 0;
    gap: 1.538vw;
    justify-content: center;
  }
}
@media screen and (max-width: 430px) {
  .featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper {
    margin: 0;
  }
}
.featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper #ratingStars p {
  display: inline-block !important;
}
@media screen and (max-width: 650px) {
  .featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper #ratingStars p {
    font-size: 2.462vw;
  }
}
.featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper .genreWrapper, .featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper .dateWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
@media screen and (max-width: 650px) {
  .featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper .genreWrapper, .featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper .dateWrapper {
    font-size: 2.462vw;
  }
}
.featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper .genreWrapper .genreTag, .featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper .dateWrapper .genreTag {
  width: 20px;
  height: 17px;
}
.featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper .genreWrapper {
  color: #cad3da;
  text-decoration: underline;
}
@media screen and (max-width: 650px) {
  .featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper .genreWrapper {
    font-size: 2.462vw;
  }
}
.featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper .dateWrapper {
  color: #f5f5f5;
}
.featuredHeroWrapper .featuredHeroInfo .movieInfoWrapper .dateWrapper .dateTag {
  width: 17px;
  height: 17px;
}
.featuredHeroWrapper .featuredHeroInfo .rmBtn {
  margin-top: 10px;
  padding: 14px 25px 11px 25px;
  background-color: transparent;
  border-radius: 4px;
  width: 135px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 13px;
  line-height: 20px;
  outline: unset;
  border: 2px solid rgba(245, 245, 245, 0.2196078431);
  color: #f5f5f5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 650px) {
  .featuredHeroWrapper .featuredHeroInfo .rmBtn {
    width: 20.769vw;
    height: 7.692vw;
    padding: 2.154vw 3.846vw 1.692vw 3.846vw;
    margin-top: 1.538vw;
    font-size: 2vw;
    line-height: 1.077vw;
    white-space: nowrap;
  }
}
.featuredHeroWrapper .featuredHeroInfo .rmBtn:hover {
  background-color: #fff;
  color: #000000;
}/*# sourceMappingURL=FeaturedHero.css.map */