.tvShowsView
    display: flex
    .tvShowsView-Col
        width: 80%
        @media screen and ( max-width: 1120px )
            width: 100%
        &.aside
            width: 20% !important
            @media screen and ( max-width: 1120px )
                display: none
